.titulo-container-galeria{
    display: flex;
    justify-content: center;
}
.gallery {
    max-width: 1100px;
    margin: 2rem auto;  /* centrado y separación */
    padding: 0 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.25rem;

    justify-content: center; /* centra columnas */
    justify-items: center;   /* centra cada imagen dentro de su columna */
}

.gallery img {
    width: 200px; /* tamaño uniforme para centrado */
    height: auto;
    border-radius:20%;
    filter: brightness(0.85);
    transition: transform 0.6s, filter 0.3s, box-shadow 0.3s;
    cursor: pointer;
    box-shadow: 0 8px 26px rgba(0,0,0,0.6);
}

.gallery img:hover {
    transform: scale(1.08);
    filter: brightness(1);
    box-shadow:  0 0px 40px var(--accent);
    z-index: 100;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: auto;
    z-index: 1000;
}

#modal-img {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 20%;
    object-fit: contain;
}

@media (max-width: 520px) {
    body{
        background: #0e0e0e url("../img/winterhill-vertical.jpg") ;
        background-repeat:no-repeat ;
        background-size: cover;
        background-attachment: fixed;
        background-position:center;
        
    }
    #modal-img{
        
        max-width: 90vw;
        max-height: 85vh;
        border-radius: 20%;
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery img {
        width: 100%; /* ocupa todo el ancho de la columna */
        max-width: 200px; /* opcional, mantiene tamaño similar */
    }
     .footer{
        font-size: 0.8rem;
    }
    
}